# _____________________________________
# Github Action PArt-1 - Basic 
#
# fireflys 2022
# _____________________________________

name: My GitHub action pipeline 
env:
  APPL : "MyFlask"
  DPNA : "Flask-ver-${{ github.sha }}"

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: main

jobs:
  # This workflow contains a single job called "build"
  my_testing:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Run a multi-line script
        run : echo "Hello World script Testing first ok" 
      - name: Run step 3 commands 
        run : |
          echo "Hello sfd"
          echo "Hello eth"
          echo "Application name: ${{ env.APPL }}"
          
      - name: Git clone my repo
        run : actions/checkout@v1
        
      - name: Run step 5 commands 
        run : ls -la
          
  my_deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    needs: [my_testing]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

      # Runs a set of commands using the runners shell
      - name: Run a deploy script two line
        run : echo "Hello World script Deploy second one WoRK" 
      - name: Run step 4 commands 
        run : |
          echo "Hello etc"
          echo "Hello btc"
          echo "Deploy name number: ${{ env.DPNA }}"  
          
      - name: Run step 6 commands 
        run : aws --version
        
      - name: Run step 7 commands 
        run : zip
